<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <!--<connectionStrings>
    <add name="WcfServiceLibrary.Properties.Settings.KnowledgeBaseConnectionString"
      connectionString="Data Source=WPC;Initial Catalog=KnowledgeBase;Persist Security Info=True;User ID=sa;Password=sa1"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
</configuration>
