

.highlight1, .highlight2, .highlight3 {
	color: #fff;
}
.highlight1 {
	background: #0f3;
}
.highlight2 {
	background: #f30;
}
.highlight3 {
	background: #03f;
}


.mainArrowBox {
	display: none;
	position: absolute;
	left: -100px;
	top: -100px;
}
.mainArrowBox > .mainArrowBoxBackground {
	display: block;
	position: relative;
	width: 15px;
	height: 20px;
	background-color: highlight;
}
.mainArrowBoxBackground > .arrowBox {
	display: block;
	position: absolute;
	top: 1px;
	bottom: 0px;
	right: 1px;
	width: 11px;
	opacity: 0.8;
	height: 100% ;
	width: 100% ;
	background: url("chrome-extension://__MSG_@@extension_id__/images/button-arrow.png") center center no-repeat;
}


.mainArrowSelectBox {
	display: none;
	position: absolute;
	left: -100px;
	top: -100px;
}
.mainArrowSelectBox > .mainArrowSelectBoxBackground {
	display: block;
	position: relative;
	width: 15px;
	height: 20px;
	background-color: highlight;
}
.mainArrowSelectBoxBackground > .arrowSelectBox {
	display: block;
	position: absolute;
	top: 1px;
	bottom: 0px;
	right: 1px;
	width: 11px;
	opacity: 0.8;
	height: 100% ;
	width: 100% ;
	background: url("chrome-extension://__MSG_@@extension_id__/images/button-arrow.png") center center no-repeat;
}


.butEdit, .butBack, .imgTypeBT, .imgTypeNT, .imgTypeRT, .imgTypeSN, .imgTypeUF, .imgTypeRUB {
  display: block;
  margin: 3px;
  float:right;
	width: 24px;
	height: 24px;
}
.imgTypeBT {
	background: url("chrome-extension://__MSG_@@extension_id__/images/relTypeBT.jpg") center center no-repeat;
}
.imgTypeNT {
	background: url("chrome-extension://__MSG_@@extension_id__/images/relTypeNT.jpg") center center no-repeat;
}
.imgTypeRT {
	background: url("chrome-extension://__MSG_@@extension_id__/images/relTypeRT.jpg") center center no-repeat;
}
.imgTypeSN {
	background: url("chrome-extension://__MSG_@@extension_id__/images/relTypeSN.jpg") center center no-repeat;
}
.imgTypeUF {
	background: url("chrome-extension://__MSG_@@extension_id__/images/relTypeUF.jpg") center center no-repeat;
}
.imgTypeRUB {
	background: url("chrome-extension://__MSG_@@extension_id__/images/relTypeRUB.jpg") center center no-repeat;
}

.butEdit {
  margin: 0px;
	float: left;
	cursor: pointer;
	background: url("chrome-extension://__MSG_@@extension_id__/images/gtk-edit.png") center center no-repeat;
}
.butBack {
  margin: 0px;
	cursor: pointer;
	background: url("chrome-extension://__MSG_@@extension_id__/images/undo_yellow.png") center center no-repeat;
}
/* a:hover {
    border:1px solid #0000ff;
}*/




div.mainBox {
	display: none;
	position: absolute;
	left: 10px;
	top: 5px;
}
div.mainBoxMovable {
  display: block;
  position: absolute;
  top:-20px;
  height: 20px;
  width: 100%;
  cursor: move;
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/bgmMovable.gif");
}


.mainBox > .mainBoxBackground {
	display: block;
	position: absolute;
	max-height: 600px;
	min-height: 100px;
	width: 400px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
	background-color: gray;
}
div.mainBoxBackground > .mainBoxTitle {
	float: left;
	height: 25px;
	width: 100% ;
	text-align: center;
	border: 1px solid black;
	background-image: url("chrome-extension://__MSG_@@extension_id__/images/bgmTitle.gif");
	color: Black;
	font-size: 18pt;
}
div.mainBoxBackground > div.mainBoxButtonsVote {
	float: left;
	width: 100% ;
	max-height: 200px;
	overflow: auto;
	overflow-x: hidden;
	background-image: url("chrome-extension://__MSG_@@extension_id__/images/bgmOther.gif");
}
div.mainBoxButtonsVote a {
	display: inline-block;
	cursor: hand;
	color: Black;
	text-decoration: none;
	font: bold 12px Arial;
	line-height: 32px;
	width: 100% ;
	border: 1px solid black;
	text-align: center;
	font-size: 15pt;
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/bgb.gif");
}
div.mainBoxButtonsVote a:hover, div.mainBoxButtonsVote a.current {
	color: white;
	background-position: 0 -120px;
	cursor: pointer;
}
div.mainBoxButtonsVote a.dummy {
	width: 2px;
	padding: 0 0;
}


.mainBox > .menuRubricatorBoxBackground {
	display: block;
	position: absolute;
	max-height: 400px;
	min-height: 150px;
	width: 600px;
	overflow: auto;
	overflow-x: hidden;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
	background-color: gray;
}
div.menuRubricatorBoxBackground > .menuRubricatorBoxTitle {
	float: left;
	height: 25px;
	width: 100% ;
	text-align: center;
	border: 1px solid black;
	background-image: url("chrome-extension://__MSG_@@extension_id__/images/bgmTitle.gif");
	color: Black;
	font-size: 15pt;
}
div.menuRubricatorBoxBackground > div.menuRubricatorBoxButtons, div.menuRubricatorBoxBackground > div.menuRubricatorBoxDescription, div.menuRubricatorBoxBackground > div.menuRubricatorBoxSign, div.menuRubricatorBoxBackground > div.menuRubricatorBoxDocuments, div.menuRubricatorBoxBackground > div.menuRubricatorBoxTerms {
	float: left;
	width: 100% ;
	max-height: 50px;
	overflow: auto;
	border: 1px solid black;
	background-image: url("chrome-extension://__MSG_@@extension_id__/images/bgmOther.gif");
}
div.menuRubricatorBoxBackground > div.menuRubricatorBoxButtons {
	max-height: 200px;
	overflow-x: hidden;
}
div.menuRubricatorBoxBackground > div.menuRubricatorBoxDescription {
	max-height: 100px;
}


.menuRubricatorBoxBackground > .menuRubricatorBoxButtons > div.menuRubricatorBoxButtonsRubric {
	float: left;
	width: 100% ;
	text-align: center;
	border: 1px solid black;
	font-size: 0;
}
.menuRubricatorBoxBackground > .menuRubricatorBoxButtons > div.menuRubricatorBoxButtonsParent, .menuRubricatorBoxBackground > .menuRubricatorBoxButtons > div.menuRubricatorBoxButtonsChild {
	float: left;
	width: 49.5% ;
	text-align: center;
	border: 1px solid black;
	font-size: 0;
}
.menuRubricatorBoxBackground > .menuRubricatorBoxButtons > div.menuRubricatorBoxButtonsChild {
	float: right;
}

div.menuRubricatorBoxButtonsRubric a, div.menuRubricatorBoxButtonsParent a, div.menuRubricatorBoxButtonsChild a {
	display: inline-block;
	cursor: hand;
	color: Black;
	text-decoration: none;
	font: bold 12px Arial;
	line-height: 32px;
	width: 100% ;
	border: 1px solid black;
	background-image: url("chrome-extension://__MSG_@@extension_id__/images/bgb.gif");
}
div.menuRubricatorBoxButtonsParent a {
	background-image: url("chrome-extension://__MSG_@@extension_id__/images/bgbParent.gif");
}
div.menuRubricatorBoxButtonsChild a {
	background-image: url("chrome-extension://__MSG_@@extension_id__/images/bgbChild.gif");
}
div.menuRubricatorBoxButtonsRubric a:hover, div.menuRubricatorBoxButtonsRubric a.current, div.menuRubricatorBoxButtonsParent a:hover, div.menuRubricatorBoxButtonsParent a.current, div.menuRubricatorBoxButtonsChild a:hover, div.menuRubricatorBoxButtonsChild a.current {
	color: white;
	background-position: 0 -120px;
	cursor: pointer;
}
div.menuRubricatorBoxButtonsRubric a.dummy, div.menuRubricatorBoxButtonsParent a.dummy, div.menuRubricatorBoxButtonsChild a.dummy {
	width: 2px;
	padding: 0 0;
}



.mainBox > .menuGlossaryBoxBackground {
	display: block;
	position: absolute;
	max-height: 400px;
	min-height: 150px;
	width: 600px;
	overflow: auto;
	overflow-x: hidden;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
	background-color: gray;
}
div.menuGlossaryBoxBackground > .menuGlossaryBoxTitle {
	float: left;
	height: 25px;
	width: 100% ;
	text-align: center;
	border: 1px solid black;
	background-image: url("chrome-extension://__MSG_@@extension_id__/images/bgmTitle.gif");
	color: Black;
	font-size: 15pt;
}
div.menuGlossaryBoxBackground > div.menuGlossaryBoxButtons, div.menuGlossaryBoxBackground > div.menuGlossaryBoxDescription {
	float: left;
	width: 100%;
  text-align: center;
	max-height: 50px;
	overflow: auto;
	border: 1px solid black;
	background-image: url("chrome-extension://__MSG_@@extension_id__/images/bgmOther.gif");
}
div.menuGlossaryBoxBackground > div.menuGlossaryBoxButtons {
	max-height: 200px;
	overflow-x: hidden;
}
div.menuGlossaryBoxBackground > div.menuGlossaryBoxDescription {
	max-height: 200px;
}
div.menuGlossaryBoxButtons a {
	display: inline-block;
	cursor: hand;
	color: Black;
	text-decoration: none;
	font: bold 12px Arial;
	line-height: 32px;
	width: 100% ;
	border: 1px solid black;
	background-image: url("chrome-extension://__MSG_@@extension_id__/images/bgb.gif");
}
div.menuGlossaryBoxButtons a:hover, div.menuGlossaryBoxButtons a.current {
	color: white;
	background-position: 0 -120px;
	cursor: pointer;
}
div.menuGlossaryBoxButtons a.dummy {
	width: 2px;
	padding: 0 0;
}





.mainBox > .menuThesaurusBoxBackground {
	display: block;
	position: absolute;
	max-height: 400px;
	min-height: 150px;
	width: 700px;
	overflow: auto;
	overflow-x: hidden;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
	background-color: gray;
}
div.menuThesaurusBoxBackground > .menuThesaurusBoxTitle {
	float: left;
	height: 25px;
	width: 100% ;
	text-align: center;
	border: 1px solid black;
	color: Black;
	font-size: 15pt;
	background-image: url("chrome-extension://__MSG_@@extension_id__/images/bgmTitle.gif");
}
div.menuThesaurusBoxBackground > div.menuThesaurusBoxButtons {
	float: left;
	width: 100% ;
	max-height: 300px;
	overflow: auto;
	overflow-x: hidden;
	background-image: url("chrome-extension://__MSG_@@extension_id__/images/bgmOther.gif");
}
div.menuThesaurusBoxButtons a {
	display: inline-block;
	cursor: hand;
	color: Black;
	text-decoration: none;
	font: bold 16px Arial;
    text-indent: 10px;
	line-height: 32px;
	width: 100% ;
	border: 1px solid black;
	background-image: url("chrome-extension://__MSG_@@extension_id__/images/bgb.gif");
}
div.menuThesaurusBoxButtons a:hover, div.menuThesaurusBoxButtons a.current {
	color: white;
	background-position: 0 -120px;
	cursor: pointer;
}
div.menuThesaurusBoxButtons a.dummy {
	width: 2px;
	padding: 0 0;
}

div.menuThesaurusBoxBackground > div.menuThesaurusBoxButtonsRelationships {
	float: left;
	width: 100% ;
	max-height: 300px;
	overflow: auto;
	overflow-x: hidden;
	background-image: url("chrome-extension://__MSG_@@extension_id__/images/bgmOther.gif");
}
div.menuThesaurusBoxButtonsRelationships a {
	position: relative;
	display: block;
	cursor: hand;
	color: Black;
	text-decoration: none;
	/*font: bold 12px Arial;*/
	line-height: 32px;
	width: 400px;
	border: 1px solid black;
	text-align: center;
	font-size: 14pt;
	background-image: url("chrome-extension://__MSG_@@extension_id__/images/bgb.gif");
}
div.menuThesaurusBoxButtonsRelationships a:hover, div.menuThesaurusBoxButtonsRelationships a.current {
	color: white;
	background-position: 0 -120px;
	cursor: pointer;
}
div.menuThesaurusBoxButtonsRelationships a.dummy {
	width: 2px;
	padding: 0 0;
}
div.menuThesaurusBoxButtonsRelationships a:before {
    content:'';
	display: block; 
}
